worflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2928,
        -3328
      ],
      "id": "945641f7-7397-41ee-ba21-ca3106d7b254",
      "name": "WhatsApp Trigger1",
      "webhookId": "e8ba4709-52be-44e5-8572-3484b6b0325f",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "pJY05SE5NhTo9vmS",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/verificar-usuario",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"celular\": $('WhatsApp Trigger1').item.json.contacts[0].wa_id.substring(2)  } }}",
        "options": {}
      },
      "id": "df8819c3-85a6-4fa3-a5d6-664bbb1e0ff7",
      "name": "Verificar Usuario1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2256,
        -2080
      ]
    },
    {
      "parameters": {
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "94710149-db14-460f-a9cc-65b971d18b5c",
      "name": "Consultar Estado Usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2704,
        -3328
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exists }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c3a5b4a6-6698-4d0c-a628-dc31d99043e5",
      "name": "¿Usuario Existe?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2032,
        -2080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.exists }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ab69b14a-934f-4acb-860c-b715cf5192f7",
      "name": "¿Tiene Estado Activo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2480,
        -3328
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $('WhatsApp Trigger1').item.json.messages[0].text.body.trim().toLowerCase() }}",
        "rules": {
          "rules": [
            {
              "operation": "=contains",
              "value2": "menu"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "a63aeaf3-f7e2-458f-90c7-7b6c9e3d1d70",
      "name": "¿Es Comando MENU?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2256,
        -3600
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "a37bb4fb-a69e-4d8e-ac27-a132722d2ab9",
      "name": "Limpiar Estado (MENU)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1808,
        -2544
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.estado.estado }}",
        "rules": {
          "rules": [
            {
              "value2": "esperando_cedula"
            },
            {
              "value2": "esperando_reporte",
              "output": 1
            },
            {
              "value2": "esperando_cedula_editar",
              "output": 2
            },
            {
              "value2": "esperando_edicion_reporte",
              "output": 3
            },
            {
              "value2": "esperando_datos_usuario",
              "output": 3
            },
            {
              "value2": "esperando_celular_bloquear",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "ac77ba5d-c61f-4c5e-81c0-d8c9cba14887",
      "name": "Router por Estado",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2032,
        -4304
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.estado.estado }}",
        "rules": {
          "rules": [
            {
              "value2": "esperando_edicion_reporte"
            },
            {
              "value2": "esperando_datos_usuario",
              "output": 1
            },
            {
              "value2": "esperando_celular_bloquear",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "d87c5d73-cbe7-4c58-aa60-d6061f706bf7",
      "name": "Switch Estados Adicionales",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1808,
        -3248
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "Esta es una red privada que solo funciona por invitación.",
        "additionalFields": {}
      },
      "id": "82b8dd91-3bb4-4462-94eb-207641a19e44",
      "name": "Enviar: Sin Acceso1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1808,
        -1888
      ],
      "webhookId": "84373c08-a678-4091-8ad1-b7343e30e625",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer el texto del mensaje y el número de celular\nconst mensaje = $('WhatsApp Trigger1').first().json.messages[0].text.body || '';\nconst celular = $('WhatsApp Trigger1').first().json.contacts[0].wa_id || '';\n\n// Extraer solo el primer número del mensaje si es una opción\nconst opcion = mensaje.trim().match(/^\\d+/)?.[0] || mensaje.trim();\n\nreturn {\n  json: {\n    opcion: opcion,\n    celular: celular,\n    mensajeCompleto: mensaje\n  }\n};"
      },
      "id": "18180530-0c6e-4eb5-8a6d-7e3416fbbfe0",
      "name": "Limpiar Entrada1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -1872
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{  $('WhatsApp Trigger1').item.json.messages[0].text.body}}",
        "rules": {
          "rules": [
            {
              "operation": "regex",
              "value2": "^[1-6]$"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "id": "5d637b74-49b2-4eb1-be05-ef2e034ff801",
      "name": "Clasificador Principal1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1808,
        -2144
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.opcion }}",
        "rules": {
          "rules": [
            {
              "value2": "1"
            },
            {
              "value2": "2",
              "output": 1
            },
            {
              "value2": "3",
              "output": 2
            },
            {
              "value2": "4",
              "output": 3
            },
            {
              "value2": "5",
              "output": 3
            },
            {
              "value2": "6",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "4dfe2b08-ede7-4888-ab27-13cf003a75cf",
      "name": "Router de Menú1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1360,
        -1904
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.opcion }}",
        "rules": {
          "rules": [
            {
              "value2": "4"
            },
            {
              "value2": "5",
              "output": 1
            },
            {
              "value2": "6",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "34c35c0b-00c9-4480-8ff6-a3b295fd6f16",
      "name": "Switch Opciones 4-5-6",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -1136,
        -1440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"celular\": $('WhatsApp Trigger1').item.json.contacts[0].wa_id.substring(2), \"estado\": \"esperando_cedula\", \"opcion\": 1 } }}",
        "options": {}
      },
      "id": "49d5e77a-0b98-4b17-8c57-000fb319d567",
      "name": "Guardar Estado: Esperando Cédula",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1136,
        -2352
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "Has elegido la opción 1: **🚕 Consultar taxistas**.\n\nPor favor, envía la cédula en tu próximo mensaje (solo números, sin puntos ni comas).\n\n**Ejemplo:** 1042458045",
        "additionalFields": {}
      },
      "id": "57e01058-ef7d-4333-b37d-1e316d2dcea5",
      "name": "Pedir Cédula (Consulta)1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -912,
        -2352
      ],
      "webhookId": "90c9e62a-935e-49d6-8fec-8e3dfbe0dd29",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"celular\": $('WhatsApp Trigger1').item.json.contacts[0].wa_id.substring(2), \"estado\": \"esperando_reporte\", \"opcion\": 2 } }}",
        "options": {}
      },
      "id": "0766c4eb-d470-44cf-96ae-d3f4a630d079",
      "name": "Guardar Estado: Esperando Reporte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1136,
        -2160
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "Has elegido la opción 2: **📝 Reportar taxistas**.\n\nPor favor, envía en tu próximo mensaje los datos del reporte en el siguiente formato, *separados por coma*:\n\n`Cédula, Nombres, Apellidos, Placa, Empresa, Descripción, Valor`\n\n**Ejemplo:**\n`1042458045,Gohan,Rodríguez,ABC123,GohanSas,Conducción peligrosa,600000`",
        "additionalFields": {}
      },
      "id": "7dff1e64-2dee-46cd-a48f-e51a452516a2",
      "name": "Pedir Datos Reporte1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -912,
        -2160
      ],
      "webhookId": "cf4be267-823f-4fd8-97ee-1a25a5c62eb1",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"celular\": $('WhatsApp Trigger1').item.json.contacts[0].wa_id.substring(2), \"estado\": \"esperando_cedula_editar\", \"opcion\": 3 } }}",
        "options": {}
      },
      "id": "f5547f0e-a029-491f-a2bb-634e01a6d63b",
      "name": "Guardar Estado: Esperando ID Reporte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1136,
        -1792
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "Has elegido la opción 3: **✏️ Editar mis reportes**.\n\nPor favor, envía la cédula del taxista cuyos reportes quieres editar.\n\n**Ejemplo:** 1042458045\n\n_Nota: Solo verás los reportes que tú hayas creado._",
        "additionalFields": {}
      },
      "id": "2478459e-5305-4129-8b69-564cc3289263",
      "name": "Pedir Cédula (Editar)",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -912,
        -1792
      ],
      "webhookId": "pedir-id-reporte-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer cédula del mensaje\nconst rawMessage = $('WhatsApp Trigger1').first().json.messages[0].text.body || '';\nconst celular = $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) || '';\n\nconst cedula = rawMessage.trim().replace(/[^0-9]/g, '');\n\n// Validar que sea un número de 5 a 11 dígitos\nif (cedula.length < 5 || cedula.length > 11) {\n  return { \n    json: { \n      success: false, \n      esCedulaValida: false,\n      celular: celular,\n      mensaje: '❌ Error: La cédula debe tener entre 5 y 11 dígitos.\\n\\nEjemplo: 1042458045' \n    } \n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    esCedulaValida: true,\n    cedula: cedula,\n    celular: celular\n  }\n};\n"
      },
      "id": "13d1b624-b5af-45e5-9611-711aec76bbf7",
      "name": "Validar Cédula (Editar)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -3984
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.esCedulaValida }}",
              "value2": true
            }
          ]
        }
      },
      "id": "46cce40f-38db-4ae4-8dac-fcfd8a9c8f1d",
      "name": "¿Cédula Válida? (Editar)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1584,
        -3984
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "63501d1d-4416-45b3-b8b9-c7c4585fe2db",
      "name": "Resp: Cédula Inválida (Editar)",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1360,
        -3888
      ],
      "webhookId": "error-cedula-invalida-editar-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "3c07836e-b810-4195-921c-56a407a573da",
      "name": "Limpiar Estado (Cédula Inválida Editar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1136,
        -3888
      ]
    },
    {
      "parameters": {
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/mis-reportes/{{ $json.cedula }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-User-Celular",
              "value": "={{ $json.celular }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ea4f2632-f9c0-490b-8bd0-440fffb7ee78",
      "name": "API: Consultar Mis Reportes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1360,
        -4080
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener la respuesta del endpoint\nconst data = $input.first().json;\nconst found = data.found;\nconst reportes = data.reportes || [];\nconst celular = $('WhatsApp Trigger1').first().json.contacts[0].wa_id;\n\nlet mensaje = `📋 *Tus Reportes para Editar*\\n\\n`;\n\nif (!found || reportes.length === 0) {\n  mensaje += `❌ No tienes reportes creados para esta cédula.\\n\\n`;\n  mensaje += `_Usa la opción 2 del menú para crear nuevos reportes._`;\n  return {\n    json: {\n      mensaje,\n      celular,\n      hayReportes: false\n    }\n  };\n}\n\nconst persona = reportes[0];\nmensaje += `👤 *Nombre:* ${persona.nombres || 'N/A'} ${persona.apellidos || 'N/A'}\\n`;\nmensaje += `🆔 *Cédula:* ${persona.numero_documento || 'N/A'}\\n`;\nmensaje += `🚖 *Placa:* ${persona.placa || 'N/A'}\\n\\n`;\nmensaje += `⚠️ *Total de Reportes Tuyos:* ${reportes.length}\\n\\n`;\n\nreportes.forEach((reporte, index) => {\n  mensaje += `📝 *Reporte #${index + 1}* (ID: ${reporte.id})\\n`;\n  mensaje += `   Nombres: ${reporte.nombres || 'N/A'}\\n`;\n  mensaje += `   Apellidos: ${reporte.apellidos || 'N/A'}\\n`;\n  mensaje += `   Placa: ${reporte.placa || 'N/A'}\\n`;\n  mensaje += `   Estado: ${reporte.estado || 'N/A'}\\n`;\n  mensaje += `   Descripción: ${reporte.descripcion || 'N/A'}\\n`;\n  mensaje += `   Valor: $${reporte.valor_reporte || 0}\\n`;\n  mensaje += `   Fecha: ${reporte.fecha_reporte || 'N/A'}\\n\\n`;\n});\n\n// Generar mensaje separado con formatos para copiar\nlet mensajeFormatos = `✏️ *Formatos para Copiar y Editar*\\n\\n`;\nmensajeFormatos += `_Copia el que necesites, pégalo y modifica solo lo que quieras cambiar:_\\n\\n`;\n\nreportes.forEach((reporte, index) => {\n  const formatoEdicion = `${reporte.id},${reporte.nombres || ''},${reporte.apellidos || ''},${reporte.placa || ''},${reporte.valor_reporte || ''},${reporte.descripcion || ''},${reporte.estado || ''}`;\n  mensajeFormatos += `*#${index + 1}:*\\n\\`${formatoEdicion}\\`\\n\\n`;\n});\n\nmensajeFormatos += `_💡 Deja campos vacíos (pero respeta las comas) si no quieres cambiarlos._`;\n\nreturn {\n  json: {\n    mensaje,\n    mensajeFormatos,\n    celular,\n    hayReportes: true\n  }\n};\n"
      },
      "id": "6f8ebce5-8076-4cc9-976d-20bc66f5d92b",
      "name": "Formatear Reportes para Editar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -4080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hayReportes }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9a6ca1cf-9670-4c76-89f1-2ac0b635b55c",
      "name": "¿Tiene Reportes? (Editar)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -912,
        -4080
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "a31f41d5-280f-48b7-867f-909fcb93a429",
      "name": "Enviar: Reportes para Editar",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -4176
      ],
      "webhookId": "enviar-reportes-editar-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "textBody": "={{ $json.mensajeFormatos }}",
        "additionalFields": {}
      },
      "id": "enviar-formatos-copiar",
      "name": "Enviar: Formatos para Copiar",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -464,
        -4176
      ],
      "webhookId": "enviar-formatos-copiar-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"celular\": $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2), \"estado\": \"esperando_edicion_reporte\", \"opcion\": 3 } }}",
        "options": {}
      },
      "id": "b6610145-badb-41a4-8558-b6de64cc6e1a",
      "name": "Guardar Estado: Esperando Edición Reporte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -240,
        -4176
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "956e4653-ad1d-4655-aa34-dc479c72e9db",
      "name": "Enviar: Sin Reportes para Editar",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -3984
      ],
      "webhookId": "enviar-sin-reportes-editar-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "517a3995-2306-4a4d-b2c1-865d1b3e3f70",
      "name": "Limpiar Estado (Sin Reportes Editar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -464,
        -3984
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"celular\": $('WhatsApp Trigger1').item.json.contacts[0].wa_id.substring(2), \"estado\": \"esperando_datos_usuario\", \"opcion\": 5 } }}",
        "options": {}
      },
      "id": "99bf48f2-4575-482c-8ab6-694b02f0cadd",
      "name": "Guardar Estado: Esperando Datos Usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -912,
        -1408
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "Has elegido la opción 5: **👤 Crear usuario nuevo**.\n\nPor favor, envía en tu próximo mensaje los datos del usuario en el siguiente formato, *separados por coma*:\n\n`Email, Nombre Completo, Celular`\n\n**Ejemplo:**\n`usuario@ejemplo.com,Juan Pérez,3001234567`\n\nℹ️ La contraseña por defecto será: **SAC123***",
        "additionalFields": {}
      },
      "id": "0c77d27b-2a5d-43f4-b01b-6c41821f7fb8",
      "name": "Pedir Datos Usuario",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -1408
      ],
      "webhookId": "pedir-datos-usuario-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"celular\": $('WhatsApp Trigger1').item.json.contacts[0].wa_id.substring(2), \"estado\": \"esperando_celular_bloquear\", \"opcion\": 6 } }}",
        "options": {}
      },
      "id": "feae045a-2997-453a-95f8-876e6cd6d597",
      "name": "Guardar Estado: Esperando Celular Bloquear",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -912,
        -1216
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "Has elegido la opción 6: **🚫 Bloquear usuario**.\n\nPor favor, envía en tu próximo mensaje el número de celular del usuario que deseas bloquear (solo números).\n\n**Ejemplo:**\n`3001234567`",
        "additionalFields": {}
      },
      "id": "d984fce4-de34-424d-9f0a-51f2a6643abb",
      "name": "Pedir Celular para Bloquear",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -1216
      ],
      "webhookId": "pedir-celular-bloquear-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extraer la cédula del mensaje\nconst mensaje = $('WhatsApp Trigger1').first().json.messages?.[0]?.text?.body || '';\nconst celular = $('WhatsApp Trigger1').first().json.contacts?.[0]?.wa_id.substring(2) || '';\n\n// Limpiar la cédula (solo números)\nconst cedula = mensaje.replace(/\\D/g, '');\n\n// Validar que la cédula tenga entre 5 y 11 dígitos\nconst esValida = cedula.length >= 5 && cedula.length <= 11;\n\nreturn {\n  json: {\n    cedula: cedula,\n    celular: celular,\n    esValida: esValida,\n    mensaje: esValida ? '' : '❌ Error: La cédula debe contener entre 5 y 11 dígitos. Por favor, envía una cédula válida.\\n\\nEjemplo: 1042458045'\n  }\n};"
      },
      "id": "7e1d7a36-bea8-4a22-8769-d6b02c2aeba8",
      "name": "Extraer Cédula (Consulta)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -4944
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.esValida }}",
              "value2": true
            }
          ]
        }
      },
      "id": "15f68ecb-2da7-4610-b4fd-daa4dee437da",
      "name": "¿Cédula Válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1584,
        -4944
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "d99c3d8c-f0a1-4768-9846-03447f2a30ae",
      "name": "Resp: Cédula Inválida",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1360,
        -5040
      ],
      "webhookId": "error-handler-cedula",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "562e0c6c-d609-41b6-aa35-a488b7d2b2ee",
      "name": "Limpiar Estado (Cédula Inválida)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1136,
        -5040
      ]
    },
    {
      "parameters": {
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/personas/{{ $json.cedula }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-User-Celular",
              "value": "={{ $json.celular }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b71a8a01-afaa-40eb-af5a-98f683734585",
      "name": "API: Consultar Persona1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1360,
        -4848
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.found }}",
              "value2": true
            }
          ]
        }
      },
      "id": "03b8c77c-e02d-4a0b-9f26-87404b3193b1",
      "name": "¿Tiene Reportes?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1136,
        -4848
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "Cédula no reportada en nuestra base de datos.",
        "additionalFields": {}
      },
      "id": "653eb68c-37f6-435c-9eae-69545b08b17c",
      "name": "Resp: Sin Reportes1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -912,
        -4752
      ],
      "webhookId": "2a2cb69e-8073-4803-b248-4b7e8337a820",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener la respuesta del endpoint (es un array)\nconst data = $input.first().json;\n\n// Datos generales\nconst found = data.found;\nconst reportes = data.reportes || [];\n\n// Tomar el celular desde el nodo \"WhatsApp Trigger1\"\nconst celular = $('WhatsApp Trigger1').first().json.contacts[0].wa_id;\n\n// Formateo de mensaje\nlet mensaje = `📋 *Mis Reportes*\\n\\n`;\n\nif (!found || reportes.length === 0) {\n  mensaje += `❌ No tienes reportes creados para esta cédula.\\n`;\n  return {\n    json: {\n      mensaje,\n      celular\n    }\n  };\n}\n\n// Tomar datos del primer reporte para mostrar info general\nconst persona = reportes[0];\n\nmensaje += `👤 *Nombre:* ${persona.nombres || 'N/A'} ${persona.apellidos || 'N/A'}\\n`;\nmensaje += `🆔 *Cédula:* ${persona.numero_documento || 'N/A'}\\n`;\nmensaje += `🚖 *Placa:* ${persona.placa || 'N/A'}\\n\\n`;\nmensaje += `⚠️ *Total de Reportes Tuyos:* ${reportes.length}\\n\\n`;\n\nreportes.forEach((reporte, index) => {\n  mensaje += `📝 *Reporte #${index + 1}* (ID: ${reporte.id})\\n`;\n  mensaje += `   Nombres: ${reporte.nombres || 'N/A'}\\n`;\n  mensaje += `   Apellidos: ${reporte.apellidos || 'N/A'}\\n`;\n  mensaje += `   Placa: ${reporte.placa || 'N/A'}\\n`;\n  mensaje += `   Estado: ${reporte.estado || 'N/A'}\\n`;\n  mensaje += `   Descripción: ${reporte.descripcion || 'N/A'}\\n`;\n  mensaje += `   Valor: $${reporte.valor_reporte || 0}\\n`;\n  mensaje += `   Fecha: ${reporte.fecha_reporte || 'N/A'}\\n\\n`;\n});\n\nreturn {\n  json: {\n    mensaje,\n    celular\n  }\n};\n"
      },
      "id": "17098f77-7a03-4143-8342-1145f4619b86",
      "name": "Formatear Mensaje (Consulta)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        -4944
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $json.celular }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "b1b6225c-50ba-4bd9-8a8d-7f4a27fa861f",
      "name": "Resp: Enviar Reportes (Consulta)1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -4944
      ],
      "webhookId": "5a075c86-0f18-4dae-98e5-b8608db2d59c",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "509abaab-3aa2-40c3-b4d9-b707b241e5e7",
      "name": "Limpiar Estado Usuario (Consulta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -464,
        -4944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el mensaje completo del usuario\nconst rawMessage = $('WhatsApp Trigger1').first().json.messages[0].text.body || '';\nconst celular = $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) || '';\n\nconst parts = rawMessage.split(',').map(p => p.trim());\n\n// Soportar 6 o 7 campos\nif (parts.length < 6) {\n  return { \n    json: { \n      success: false, \n      esFormatoValido: false,\n      celular: celular,\n      mensaje: '❌ Error: El formato del mensaje es incorrecto. Deben ser mínimo 6 campos separados por comas.\\n\\nFormato: Cédula,Nombres,Apellidos,Placa,Empresa,Descripción,Valor\\n\\nEjemplo:\\n1042458045,Gohan,Rodríguez,ABC123,GohanSas,Conducción peligrosa,600000' \n    } \n  };\n}\n\n// Si son 6 campos, asumimos que no hay valor reportado\nlet numero_documento, nombres, apellidos, placa, vehiculo_afiliado, descripcion, valor_reporte_raw;\n\nif (parts.length === 6) {\n  [numero_documento, nombres, apellidos, placa, vehiculo_afiliado, descripcion] = parts;\n  valor_reporte_raw = '0';\n} else if (parts.length === 7) {\n  [numero_documento, nombres, apellidos, placa, vehiculo_afiliado, descripcion, valor_reporte_raw] = parts;\n} else {\n  return { \n    json: { \n      success: false, \n      esFormatoValido: false,\n      celular: celular,\n      mensaje: '❌ Error: Demasiados campos. Máximo 7 campos.\\n\\nFormato: Cédula,Nombres,Apellidos,Placa,Empresa,Descripción,Valor' \n    } \n  };\n}\n\n// Limpieza y Formateo de datos\nconst valor_reporte = parseInt(valor_reporte_raw.replace(/[^0-9]/g, ''), 10) || 0;\nconst estado = \"ACTIVA\";\n\nconst reportData = {\n  numero_documento: numero_documento.replace(/\\D/g, ''),\n  nombres: nombres.toUpperCase(),\n  apellidos: apellidos.toUpperCase(),\n  placa: placa.toUpperCase().replace(/\\s/g, ''),\n  vehiculo_afiliado: vehiculo_afiliado.toUpperCase(),\n  descripcion: descripcion,\n  valor_reporte: valor_reporte,\n  estado: estado\n};\n\nconst confirmationMessage = `✅ **Validación Exitosa. Datos a Registrar:**\\n- Cédula: ${reportData.numero_documento}\\n- Nombres: ${reportData.nombres} ${reportData.apellidos}\\n- Placa: ${reportData.placa}\\n- Empresa: ${reportData.vehiculo_afiliado}\\n- Descripción: ${reportData.descripcion}\\n- Valor: $${reportData.valor_reporte.toLocaleString('es-CO')}\\n\\n*Procediendo a registrar el reporte...*`;\n\nreturn {\n  json: {\n    success: true,\n    esFormatoValido: true,\n    reportData: reportData,\n    celular: celular,\n    confirmationMessage: confirmationMessage\n  }\n};\n"
      },
      "id": "7c6290e2-7016-41c2-bcb3-bfa9988ba78e",
      "name": "Extraer y Formatear Reporte1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -4560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.esFormatoValido }}",
              "value2": true
            }
          ]
        }
      },
      "id": "536b311a-f29e-432b-868c-d44bf29d340c",
      "name": "¿Formato Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1584,
        -4560
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "f2bec61f-7e8f-4646-84a5-3d9c37a56e45",
      "name": "Resp: Formato Inválido",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1360,
        -4656
      ],
      "webhookId": "error-handler-formato-reporte",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "78ce006a-8f4b-40c3-b3e4-deb5cece3d9e",
      "name": "Limpiar Estado (Formato Inválido)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1136,
        -4656
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el mensaje completo del usuario\nconst rawMessage = $('WhatsApp Trigger1').first().json.messages[0].text.body || '';\nconst celular = $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) || '';\n\nconst parts = rawMessage.split(',').map(p => p.trim());\n\n// Validar que tenga 3 campos\nif (parts.length !== 3) {\n  return { \n    json: { \n      success: false, \n      esFormatoValido: false,\n      celular: celular,\n      mensaje: '❌ Error: El formato del mensaje es incorrecto. Deben ser 3 campos separados por comas.\\n\\nFormato: Email,Nombre,Celular\\n\\nEjemplo:\\nusuario@ejemplo.com,Juan Pérez,3001234567' \n    } \n  };\n}\n\nconst [username, nombres, celularUsuario] = parts;\n\n// Validar email básico\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(username)) {\n  return { \n    json: { \n      success: false, \n      esFormatoValido: false,\n      celular: celular,\n      mensaje: '❌ Error: El email no es válido. Por favor usa un formato correcto (ejemplo: usuario@ejemplo.com)' \n    } \n  };\n}\n\n// Validar celular (10 dígitos)\nconst celularLimpio = celularUsuario.replace(/\\D/g, '');\nif (celularLimpio.length !== 10) {\n  return { \n    json: { \n      success: false, \n      esFormatoValido: false,\n      celular: celular,\n      mensaje: '❌ Error: El celular debe tener 10 dígitos. Ejemplo: 3001234567' \n    } \n  };\n}\n\n// Contraseña por defecto\nconst password = 'SAC123*';\n\nconst userData = {\n  username: username.toLowerCase(),\n  nombres: nombres,\n  celular: celularLimpio,\n  password: password\n};\n\nreturn {\n  json: {\n    success: true,\n    esFormatoValido: true,\n    userData: userData,\n    celular: celular\n  }\n};\n"
      },
      "id": "967e1fc3-5a73-45e8-9a69-35279dc4e857",
      "name": "Extraer y Validar Datos Usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -3216
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.esFormatoValido }}",
              "value2": true
            }
          ]
        }
      },
      "id": "70445701-5dbe-4926-8085-8f0eecfd542e",
      "name": "¿Datos Usuario Válidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1360,
        -3216
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "f81c3e05-dd01-4152-8d84-e56031f0b663",
      "name": "Resp: Datos Usuario Inválidos",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1136,
        -3312
      ],
      "webhookId": "error-handler-datos-usuario",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "ad7c7957-9445-4766-bd10-4be6f887eefa",
      "name": "Limpiar Estado (Datos Usuario Inválidos)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -912,
        -3312
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el ID del reporte\nconst rawMessage = $('WhatsApp Trigger1').first().json.messages[0].text.body || '';\nconst celular = $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) || '';\n\nconst idReporte = rawMessage.trim();\n\n// Validar que sea un número\nif (!/^\\d+$/.test(idReporte)) {\n  return { \n    json: { \n      success: false, \n      esIdValido: false,\n      celular: celular,\n      mensaje: '❌ Error: El ID del reporte debe ser un número.\\n\\nEjemplo: 123' \n    } \n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    esIdValido: true,\n    idReporte: idReporte,\n    celular: celular\n  }\n};\n"
      },
      "id": "4f69b6db-4c15-4ec1-b9fc-2f9caac55570",
      "name": "Validar ID Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        -992
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.esIdValido }}",
              "value2": true
            }
          ]
        }
      },
      "id": "ebc10f1a-f64b-46ea-932b-fbc10949c1bf",
      "name": "¿ID Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2928,
        -768
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "7df2d0f9-f996-464e-8316-09b979b200e7",
      "name": "Resp: ID Inválido",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2928,
        -96
      ],
      "webhookId": "error-id-invalido-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "0837cb56-d017-48c0-9f1b-eaeaefe0a5ea",
      "name": "Limpiar Estado (ID Inválido)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2928,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"celular\": $json.celular, \"estado\": \"esperando_edicion_reporte\", \"opcion\": 3, \"id_reporte\": $json.idReporte } }}",
        "options": {}
      },
      "id": "dde991f9-c0a0-4cc2-9b83-2f813ca9e59b",
      "name": "Guardar Estado: Esperando Edición",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2928,
        -544
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "Perfecto. Ahora envía los nuevos datos del reporte en el siguiente formato (puedes dejar campos vacíos si no quieres modificarlos, pero respeta las comas):\\n\\n`Nombres,Apellidos,Placa,Valor,Descripción,Estado`\\n\\n**Ejemplo:**\\n`Juan,Pérez,ABC123,500000,Conducción peligrosa,ACTIVA`\\n\\n_Campos vacíos:_\\n`,,,,,` (solo comas)",
        "additionalFields": {}
      },
      "id": "916601ab-771d-4ba8-b7a4-98d3bb32ba53",
      "name": "Pedir Datos Edición",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2928,
        -320
      ],
      "webhookId": "pedir-datos-edicion-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos de edición con ID\nconst rawMessage = $('WhatsApp Trigger1').first().json.messages[0].text.body || '';\nconst celular = $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) || '';\n\nconst parts = rawMessage.split(',').map(p => p.trim());\n\n// Debe tener 7 campos (ID + 6 datos)\nif (parts.length !== 7) {\n  return { \n    json: { \n      success: false, \n      esFormatoValido: false,\n      celular: celular,\n      mensaje: '❌ Error: El formato debe tener 7 campos separados por comas.\\n\\nFormato: ID,Nombres,Apellidos,Placa,Valor,Descripción,Estado\\n\\nEjemplo:\\n123,Juan,Pérez,ABC123,500000,Conducción peligrosa,ACTIVA\\n\\nSi no quieres modificar un campo (excepto ID), déjalo vacío pero respeta las comas.' \n    } \n  };\n}\n\nconst [idReporte, nombres, apellidos, placa, valor, descripcion, estadoReporte] = parts;\n\n// Validar que el ID sea un número\nif (!/^\\d+$/.test(idReporte)) {\n  return { \n    json: { \n      success: false, \n      esFormatoValido: false,\n      celular: celular,\n      mensaje: '❌ Error: El ID del reporte debe ser un número.\\n\\nEjemplo: 123,Juan,Pérez,ABC123,500000,Conducción peligrosa,ACTIVA' \n    } \n  };\n}\n\n// Construir objeto con solo los campos que no están vacíos\nconst datosEdicion = {};\n\nif (nombres) datosEdicion.nombres = nombres;\nif (apellidos) datosEdicion.apellidos = apellidos;\nif (placa) datosEdicion.placa = placa;\nif (valor) {\n  const valorNum = parseInt(valor.replace(/\\D/g, ''));\n  if (!isNaN(valorNum)) datosEdicion.valor_reporte = valorNum;\n}\nif (descripcion) datosEdicion.descripcion_reporte = descripcion;\nif (estadoReporte) datosEdicion.estado = estadoReporte;\n\n// Validar que al menos un campo se va a editar\nif (Object.keys(datosEdicion).length === 0) {\n  return { \n    json: { \n      success: false, \n      esFormatoValido: false,\n      celular: celular,\n      mensaje: '❌ Error: Debes proporcionar al menos un campo para editar (después del ID).' \n    } \n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    esFormatoValido: true,\n    datosEdicion: datosEdicion,\n    idReporte: idReporte,\n    celular: celular\n  }\n};\n"
      },
      "id": "f841d066-c47e-412a-a663-c4d10e9b7a3a",
      "name": "Procesar Datos Edición",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -3600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.esFormatoValido }}",
              "value2": true
            }
          ]
        }
      },
      "id": "9aec3467-d073-45ff-974f-30d75cd56dd9",
      "name": "¿Formato Edición Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1360,
        -3600
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "2641b741-1519-4a07-9b3c-01eb53950bfa",
      "name": "Resp: Formato Edición Inválido",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1136,
        -3504
      ],
      "webhookId": "error-formato-edicion-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "f802c70a-281c-4683-9084-a59dbee27c3b",
      "name": "Limpiar Estado (Formato Edición Inválido)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -912,
        -3504
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/personas/{{ $json.idReporte }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-User-Celular",
              "value": "={{ $json.celular }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.datosEdicion }}",
        "options": {}
      },
      "id": "0d1a15f2-7499-4afc-9de0-23c35b0213be",
      "name": "API: Editar Reporte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1136,
        -3696
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "5e4e3895-edd9-4624-a35c-54c6ee02527c",
      "name": "¿Edición Exitosa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -912,
        -3696
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "✅ Reporte editado exitosamente.",
        "additionalFields": {}
      },
      "id": "90a87880-7d12-4fea-893e-1fceb759a458",
      "name": "Resp: Edición Exitosa",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -3792
      ],
      "webhookId": "resp-edicion-exitosa-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "❌ Error al editar el reporte: {{ $json.message || 'No tienes permisos para editar este reporte o no existe.' }}",
        "additionalFields": {}
      },
      "id": "318ad0a9-f3f6-471c-bab6-fbdc20bdf7c7",
      "name": "Resp: Error Edición",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -3504
      ],
      "webhookId": "resp-error-edicion-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "ae1d2fca-7a4a-4563-a4e5-ec681a3987c2",
      "name": "Limpiar Estado (Edición)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -464,
        -3696
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/usuarios",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.userData }}",
        "options": {}
      },
      "id": "a1d939c3-ad38-4ede-8fb2-9e7488ab3412",
      "name": "API: Crear Usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1136,
        -3120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "46943008-ac62-4ad5-a2f2-1d919ed21c64",
      "name": "¿Usuario Creado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -912,
        -3120
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "✅ ¡Usuario creado exitosamente!\n\nEl nuevo usuario ya puede acceder al sistema.",
        "additionalFields": {}
      },
      "id": "fcdfaf5a-116d-4322-9160-1751f1b8e264",
      "name": "Resp: Usuario Creado",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -3312
      ],
      "webhookId": "resp-usuario-creado-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "❌ Error al crear usuario: {{ $json.message || 'Error desconocido' }}",
        "additionalFields": {}
      },
      "id": "a6d98d9f-8c06-4a8e-b8f6-e74fd83daf0b",
      "name": "Resp: Error Crear Usuario",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -3024
      ],
      "webhookId": "resp-error-crear-usuario-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "f2c56e44-f993-4603-a4f2-362aa2e6e512",
      "name": "Limpiar Estado (Crear Usuario)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -464,
        -3120
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el celular a bloquear\nconst rawMessage = $('WhatsApp Trigger1').first().json.messages[0].text.body || '';\nconst celular = $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) || '';\n\n// Limpiar el celular (solo números)\nconst celularBloquear = rawMessage.replace(/\\D/g, '');\n\n// Validar que tenga 10 dígitos\nif (celularBloquear.length !== 10) {\n  return { \n    json: { \n      success: false, \n      esValido: false,\n      celular: celular,\n      mensaje: '❌ Error: El celular debe tener 10 dígitos.\\n\\nEjemplo: 3001234567' \n    } \n  };\n}\n\nreturn {\n  json: {\n    success: true,\n    esValido: true,\n    celularBloquear: celularBloquear,\n    celular: celular\n  }\n};\n"
      },
      "id": "fcda204b-7524-48b4-81af-23ee51770c4b",
      "name": "Extraer y Validar Celular Bloquear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -2640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.esValido }}",
              "value2": true
            }
          ]
        }
      },
      "id": "fdeed402-ebdd-4aa2-adaa-3d34e98e4590",
      "name": "¿Celular Válido para Bloquear?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1360,
        -2640
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.mensaje }}",
        "additionalFields": {}
      },
      "id": "8a219c07-87cb-4916-9acf-8aad4801e311",
      "name": "Resp: Celular Bloquear Inválido",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1136,
        -2544
      ],
      "webhookId": "error-handler-celular-bloquear",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "186a3f83-e4f1-48e1-a98a-bab9a5fbf0a6",
      "name": "Limpiar Estado (Celular Bloquear Inválido)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -912,
        -2544
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/usuarios/{{ $json.celularBloquear }}/bloquear",
        "options": {}
      },
      "id": "add9c61f-cf55-4c1b-bcb7-d7cd808815e2",
      "name": "API: Bloquear Usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1136,
        -2736
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f5e01a76-70c6-4ca5-9081-d23e8c2374df",
      "name": "¿Usuario Bloqueado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -912,
        -2736
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "✅ Usuario bloqueado exitosamente.\n\nEl usuario ya no podrá acceder al sistema.",
        "additionalFields": {}
      },
      "id": "2499e604-ec84-4140-ab3e-fded2b4e033f",
      "name": "Resp: Usuario Bloqueado",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -2832
      ],
      "webhookId": "resp-usuario-bloqueado-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "❌ Error al bloquear usuario: {{ $json.message || 'Usuario no encontrado o error desconocido' }}",
        "additionalFields": {}
      },
      "id": "afd4da7b-8c57-48c0-913d-a96f55061c60",
      "name": "Resp: Error Bloquear Usuario",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -2352
      ],
      "webhookId": "resp-error-bloquear-usuario-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "c237eea2-1c39-426d-b17f-3417a8eb64ee",
      "name": "Limpiar Estado (Bloquear Usuario)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -464,
        -2736
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/personas",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-User-Celular",
              "value": "={{ $json.celular }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.reportData }}",
        "options": {}
      },
      "id": "e760d06c-94c7-435f-a95a-0bdfee594472",
      "name": "API: Registrar Reporte1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1360,
        -4464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "51407259-4c66-4fc7-8069-08dc0724853b",
      "name": "¿Registro Exitoso?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1136,
        -4464
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('Extraer y Formatear Reporte1').item.json.celular }}",
        "textBody": "=¡El reporte ha sido registrado exitosamente!\n\nGracias por usar InfoSAC. Puedes volver al menú principal en cualquier momento.",
        "additionalFields": {}
      },
      "id": "cb55f6f5-2337-4c86-b7fc-7e9b4914b7c7",
      "name": "Resp: Reporte Exitoso1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -912,
        -4560
      ],
      "webhookId": "d75e7555-14cd-4967-93e3-45e03ccae80c",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('Extraer y Formatear Reporte1').item.json.celular }}",
        "textBody": "=❌ Hubo un error al registrar el reporte. Por favor, verifica el formato de los datos e inténtalo de nuevo, o contacta a soporte si el problema persiste.\n\nError: {{ $json.message || 'Error desconocido' }}",
        "additionalFields": {}
      },
      "id": "eb97a27c-27ab-4d5f-89fd-dd0782b6d51c",
      "name": "Resp: Error al Reportar1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -912,
        -4368
      ],
      "webhookId": "a87d874a-80f6-4760-ba20-e30f2bf82b61",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "1dc9da6a-c35b-4846-a30d-c6e919cfb207",
      "name": "Limpiar Estado Usuario (Reporte)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -688,
        -4464
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "b8cae426-592e-4006-95f9-37ae477bb6fd",
      "name": "Limpiar Estado (Fallback)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1808,
        -1696
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://electo-infosac.fxtfoe.easypanel.host/api/generar-token-carga",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-User-Celular",
              "value": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id.substring(2) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "818df290-c0af-4c16-a7ff-8c445dcf01fa",
      "name": "API: Generar Token Carga",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -912,
        -1600
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "Has elegido la opción 4: **📊 Reportar masivamente (Excel)**\n\n🎯 *Tu link personal de carga masiva:*\n🔗 {{ $('API: Generar Token Carga').item.json.url }}\n\n📋 *Instrucciones:*\n1️⃣ Haz clic en el link para abrir tu página personal\n2️⃣ Descarga la plantilla Excel\n3️⃣ Llena la plantilla con tus reportes\n4️⃣ Sube el archivo en la misma página\n\n⏱️ *Este link es válido por 24 horas*\n✅ *Los reportes se asociarán automáticamente a tu usuario*\n\n💡 _Puedes importar múltiples reportes a la vez usando la plantilla._",
        "additionalFields": {}
      },
      "id": "841ecd5d-c04b-49b1-ae58-6f179242e9e9",
      "name": "Enviar: Link Carga Masiva",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -688,
        -1600
      ],
      "webhookId": "enviar-link-carga-webhook",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://electo-infosac.fxtfoe.easypanel.host/api/estado-usuario/{{ $('WhatsApp Trigger1').first().json.contacts[0].wa_id.substring(2) }}",
        "options": {}
      },
      "id": "36e7498e-ac35-48ff-a34d-e810ae5f6b87",
      "name": "Limpiar Estado (Excel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -464,
        -1600
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "821068047761861",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.contacts[0].wa_id }}",
        "textBody": "=Hola {{ $json.usuario.nombre }} 👋\n\nBienvenido a **SAC**, su asistente virtual para consulta de referencias de conductores.\n\nPor favor, selecciona una opción del menú enviando solo el número (1, 2, 3, 4, 5 o 6).\n\n📋 **Menú Principal**\n1. 🚕 Consultar taxistas\n2. 📝 Reportar taxistas\n3. ✏️ Editar mis reportes\n4. 📂 Reportar taxistas masivamente\n5. 👤 Crear usuario nuevo\n6. 🚫 Bloquear usuario\n\n_💡 Escribe \"menu\" en cualquier momento para volver aquí._",
        "additionalFields": {}
      },
      "id": "1395d927-7e81-4490-8320-61043ad8cc31",
      "name": "Enviar: Menú Principal1",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1584,
        -2176
      ],
      "webhookId": "2975fc13-703b-4973-8a5a-165785aa9829",
      "credentials": {
        "whatsAppApi": {
          "id": "gXg8lYErOVjLJQ0s",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger1": {
      "main": [
        [
          {
            "node": "Consultar Estado Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Usuario1": {
      "main": [
        [
          {
            "node": "¿Usuario Existe?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Estado Usuario": {
      "main": [
        [
          {
            "node": "¿Tiene Estado Activo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Usuario Existe?1": {
      "main": [
        [
          {
            "node": "Clasificador Principal1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar: Sin Acceso1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Estado Activo?": {
      "main": [
        [
          {
            "node": "¿Es Comando MENU?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Comando MENU?": {
      "main": [
        [
          {
            "node": "Limpiar Estado (MENU)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Router por Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Estado (MENU)": {
      "main": [
        [
          {
            "node": "Enviar: Menú Principal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router por Estado": {
      "main": [
        [
          {
            "node": "Extraer Cédula (Consulta)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer y Formatear Reporte1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Cédula (Editar)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Estados Adicionales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Estados Adicionales": {
      "main": [
        [
          {
            "node": "Procesar Datos Edición",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer y Validar Datos Usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer y Validar Celular Bloquear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Entrada1": {
      "main": [
        [
          {
            "node": "Router de Menú1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador Principal1": {
      "main": [
        [
          {
            "node": "Limpiar Entrada1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar: Menú Principal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router de Menú1": {
      "main": [
        [
          {
            "node": "Guardar Estado: Esperando Cédula",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Estado: Esperando Reporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Estado: Esperando ID Reporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Opciones 4-5-6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Opciones 4-5-6": {
      "main": [
        [
          {
            "node": "API: Generar Token Carga",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Estado: Esperando Datos Usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Estado: Esperando Celular Bloquear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado: Esperando Datos Usuario": {
      "main": [
        [
          {
            "node": "Pedir Datos Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado: Esperando Celular Bloquear": {
      "main": [
        [
          {
            "node": "Pedir Celular para Bloquear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer y Validar Datos Usuario": {
      "main": [
        [
          {
            "node": "¿Datos Usuario Válidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Datos Usuario Válidos?": {
      "main": [
        [
          {
            "node": "API: Crear Usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Datos Usuario Inválidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Datos Usuario Inválidos": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Datos Usuario Inválidos)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Crear Usuario": {
      "main": [
        [
          {
            "node": "¿Usuario Creado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Usuario Creado?": {
      "main": [
        [
          {
            "node": "Resp: Usuario Creado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Error Crear Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Usuario Creado": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Crear Usuario)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Error Crear Usuario": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Crear Usuario)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer y Validar Celular Bloquear": {
      "main": [
        [
          {
            "node": "¿Celular Válido para Bloquear?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Celular Válido para Bloquear?": {
      "main": [
        [
          {
            "node": "API: Bloquear Usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Celular Bloquear Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Celular Bloquear Inválido": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Celular Bloquear Inválido)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Bloquear Usuario": {
      "main": [
        [
          {
            "node": "¿Usuario Bloqueado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Usuario Bloqueado?": {
      "main": [
        [
          {
            "node": "Resp: Usuario Bloqueado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Error Bloquear Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Usuario Bloqueado": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Bloquear Usuario)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Error Bloquear Usuario": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Bloquear Usuario)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado: Esperando Cédula": {
      "main": [
        [
          {
            "node": "Pedir Cédula (Consulta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado: Esperando Reporte": {
      "main": [
        [
          {
            "node": "Pedir Datos Reporte1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Cédula (Consulta)1": {
      "main": [
        [
          {
            "node": "¿Cédula Válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cédula Válida?": {
      "main": [
        [
          {
            "node": "API: Consultar Persona1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Cédula Inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Cédula Inválida": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Cédula Inválida)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Consultar Persona1": {
      "main": [
        [
          {
            "node": "¿Tiene Reportes?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Reportes?1": {
      "main": [
        [
          {
            "node": "Formatear Mensaje (Consulta)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Sin Reportes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Mensaje (Consulta)1": {
      "main": [
        [
          {
            "node": "Resp: Enviar Reportes (Consulta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Enviar Reportes (Consulta)1": {
      "main": [
        [
          {
            "node": "Limpiar Estado Usuario (Consulta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer y Formatear Reporte1": {
      "main": [
        [
          {
            "node": "¿Formato Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Formato Válido?": {
      "main": [
        [
          {
            "node": "API: Registrar Reporte1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Formato Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Formato Inválido": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Formato Inválido)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Registrar Reporte1": {
      "main": [
        [
          {
            "node": "¿Registro Exitoso?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Registro Exitoso?1": {
      "main": [
        [
          {
            "node": "Resp: Reporte Exitoso1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Error al Reportar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Reporte Exitoso1": {
      "main": [
        [
          {
            "node": "Limpiar Estado Usuario (Reporte)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Error al Reportar1": {
      "main": [
        [
          {
            "node": "Limpiar Estado Usuario (Reporte)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Estado (Fallback)": {
      "main": [
        [
          {
            "node": "Enviar: Menú Principal1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado: Esperando ID Reporte": {
      "main": [
        [
          {
            "node": "Pedir Cédula (Editar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Cédula (Editar)": {
      "main": [
        [
          {
            "node": "¿Cédula Válida? (Editar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cédula Válida? (Editar)": {
      "main": [
        [
          {
            "node": "API: Consultar Mis Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Cédula Inválida (Editar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Cédula Inválida (Editar)": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Cédula Inválida Editar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Consultar Mis Reportes": {
      "main": [
        [
          {
            "node": "Formatear Reportes para Editar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Reportes para Editar": {
      "main": [
        [
          {
            "node": "¿Tiene Reportes? (Editar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Reportes? (Editar)": {
      "main": [
        [
          {
            "node": "Enviar: Reportes para Editar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar: Sin Reportes para Editar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar: Reportes para Editar": {
      "main": [
        [
          {
            "node": "Enviar: Formatos para Copiar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar: Formatos para Copiar": {
      "main": [
        [
          {
            "node": "Guardar Estado: Esperando Edición Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar: Sin Reportes para Editar": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Sin Reportes Editar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Datos Edición": {
      "main": [
        [
          {
            "node": "¿Formato Edición Válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Formato Edición Válido?": {
      "main": [
        [
          {
            "node": "API: Editar Reporte",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Formato Edición Inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Formato Edición Inválido": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Formato Edición Inválido)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Editar Reporte": {
      "main": [
        [
          {
            "node": "¿Edición Exitosa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Edición Exitosa?": {
      "main": [
        [
          {
            "node": "Resp: Edición Exitosa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resp: Error Edición",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Edición Exitosa": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Edición)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp: Error Edición": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Edición)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Generar Token Carga": {
      "main": [
        [
          {
            "node": "Enviar: Link Carga Masiva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar: Link Carga Masiva": {
      "main": [
        [
          {
            "node": "Limpiar Estado (Excel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03e4143d-8954-40cb-a3c5-ede596cf6ec3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b31c59ac60435f4d8e1b8d0484a71fbe2f7c30530fcc10d82cd94f326515c42c"
  },
  "id": "n5cQoD5qtV5X3Y3Z",
  "tags": []
}